/*
$primary1:      #1883aa;    //logo-blue
$primary2:      #94c03d;    //logo-green

$secondary1:    #73abb2;    //light-blue
$secondary2:    #88ad3e;    //light-green

$accent1:       #f26430;    //orange
$accent2:       #c52a39;    //cherry
$accent3:       #5f4866;    //purple

$cream:         #f0e8d5;    //cream
$brown:         #4c2817;    //brown
*/

@import url('http://fonts.googleapis.com/css?family=Didact+Gothic');

@font-face {
    font-family: Futura Book;
    src: url('../fonts/FuturaLT-Book.ttf') format("truetype");
}

@font-face {
    font-family: Futura Light;
    src: url(../fonts/FuturaLT-Light.ttf) format("truetype");
}

body {
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    /*font-family: 'Futura LT', 'Didact Gothic', 'Century Gothic', Arial sans-serif;*/
    background:#FFF;
    color:#222;

}

.dropdown-menu>li>a {color:#777;}

#main-body {
    /*Abackground: #FFF url(../graphics/top_swoop.png) bottom right no-repeat;*/
}

header #title, h1, h2, h3 {
    font-family: Futura Light;
    font-weight:normal;
}

div.subtitle {display:none;}
/*.navbar .container-fluid {
    background-image:url(../graphics/UoG_tag.png);
    background-position:bottom right;
    background-repeat: no-repeat;
}*/

header {
    color:#FFF;
    background-color:#88ad3e;
    border-radius:0;
    background-image:url(../graphics/UoG_logo.png);
    background-position:bottom right;
    background-repeat: no-repeat;
    padding-top:10px;
}

header #head-logo {
    position:relative;
    height:155px;
}

header #logo-img {
    position:absolute;
    bottom:0;
}

header #head-title {
    padding: 40px 0 10px 0;
}

header #title {
    font-size: 38.5px;
    line-height: 40px;
    margin-top:10px;
}

header #title, header h1, header h2 {
    color:#FFF;
    padding-right:120px;
}

header h2 {
    text-align: center;
    font-variant: small-caps;
    line-height: 20px;
}
header a, header a:hover {
    color:#FFF;
}
header .lead {
    margin-left: 50px;
    font-style:italic;
    margin-bottom:10px;
}

header .lead a {
    text-decoration: underline;
}

header .container-fluid {
    /*background:url('../graphics/top_swoop.png') bottom left no-repeat;*/
}

.accordion-group {
    background:#FFF;
}
.accordion-heading a {
    color: #5f4866;
}
.accordion-heading a small {
    color: #999;
}
#highlights {
    background:#73abb2;
    color: #FFF;
}
#highlights.affix-top {
    background:#73abb2 url(../graphics/UoG_tag.png) no-repeat top right;
}
#highlights.affix {
    /*margin-left:50px !important;*/
    /*width:inherit;*/
    top: 60px;
    right:20px;
}

#highlights.affix-bottom {
    position: fixed;
    bottom: 140px;
    right: 20px;
}

#highlights h2 {
    color:#FFF;
    padding-right:105px;
}
#highlights ul {
    list-style-type: square;
}

footer {
    color: #4c2817;
    font-family:'Futura Light', inherit;
    background:#f0e8d5;
}

footer a {
    color:#4c2817;
}

h1 {color:#1883aa;}
/*h2 {color:#1883aa;}*/
h2 {color:#c52a39;}
h3 {color:#5f4866;}
h4 {color:#f26430;}

@media (max-width: 979px) {
    body {padding-left: 0; padding-right: 0;}

    .navbar-fixed-top {margin:0;}

    .nav-collapse .dropdown-menu .active a {
        color:#FFF;
    }

    header {
        height:100px;
        padding:0;
    }
    header h1 {
        margin-top:10px;
    }
    
    #highlights {
        padding-top:50px;
        color: #FFF;
    }
    #highlights h2 {
        padding-right:0;
    }
}

@media (max-width: 767px) {
    #main-body {
        background-image:url(../graphics/UoG_tag.png);
        background-repeat:no-repeat;
        background-position: top right;
        margin:0 20px;
        padding:50px 0 10px 0;
    }

    #highlights {
        background-image: none;
        padding-top:0;
    }

    footer * {
        text-align:center !important;
    }
}

@media (max-width: 480px) {
    header h1, div #title {
        font-size:x-large;
    }
    header p.lead {
        display:none;
    }
}